<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form name="fileUpload" method="POST" action="/uploads/upload" enctype="multipart/form-data">

    <input type="file" name="myFile" accept="image/*">
    <input type="submit" name="upload"/>
</form>